
<div class="row">
<h3>Show my picture</h3>
  <div class="col-md-2">
    <h5><%= @picture_items.any? ? "图片" : "暂无图片" %></h5>
    <hr>
  </div>
    <%= @picture_items.each do |picture| %>
  <div class="col-md-10">
      <%= image_tag picture.name_url(:middle) %>
      <%= link_to "删除", destroy_picture_user_path(picture), method: :delete, class: "btn btn-danger btn-small" %>
  </div>
    <% end %>
</div>