<div class="row">
  <h3>
    <%= current_user.name %>
  </h3>
</div>
<div>
  <%= link_to "view my profile", current_user %>
</div>
<div>
  <%= pluralize(current_user.microposts.count, "micropost") %>
</div>
